<div class="fixed top-0 z-20" style="left: calc(100vw / 2 - 150px); width: 300px;">
    <div class="flex gap-4 max-sm:flex-col items-center justify-center text-center bg-blue-600 text-white px-6 py-3.5 rounded font-[sans-serif]">
        <div class="bg-slate-600 p-4">
            <p class="text-base">Currently under development!</p>
    
            <div class="flex gap-2 justify-center">
                <a class="cursor-pointer hover:underline text-blue-600 hover:text-blue-800 visited:text-purple-600" style="text-decoration: underline;" target="_blank" href="https://unegbu.netlify.app/">Old Page</a>
            </div>
        </div>
        
    </div>
</div>
