<div class="flex justify-center md:justify-start pt-2 gap-6">
    {% assign rrss = site.rrss %}
    {% if rrss.email != null and rrss.email != "" %}
    <a class="transition hover:scale-110 duration-300" href="mailto:{{ rrss.email }}">
      <img class="h-6 w-6" src="{{'/assets/images/contact_channels/email.svg' | relative_url }}" alt="Email Icon">
    </a>
    {% endif %}
    {% if rrss.github != null and rrss.github  != "" %}
    <a class="transition hover:scale-110 duration-300" href="{{ rrss.github }}" target="_blank">
      <img class="h-6 w-6" src="{{'/assets/images/contact_channels/github-mark.svg' | relative_url }}" alt="Github Icon">
    </a>
    {% endif %}
    {% if rrss.telegram != null and  rrss.telegram != "" %}
    <a class="transition hover:scale-110 duration-300" href="{{ rrss.telegram }}" target="_blank">
      <img class="h-6 w-6" src="{{'/assets/images/contact_channels/telegram.svg' | relative_url }}" alt="Telegram Icon">
      {{ rrss.telegram }}
    </a>
    {% endif %}
    {% if rrss.stackoverflow != null and rrss.stackoverflow != "" %}
    <a class="transition hover:scale-110 duration-300" href="{{ rrss.stackoverflow }}" target="_blank">
  
      <img class="h-6 w-6" src="{{'/assets/images/contact_channels/stack-overflow.svg' | relative_url }}" alt="StackOverflow Icon">
    </a>
    {% endif %}
    {% if rrss.discord != null and rrss.discord != "" %}
    <a class="transition hover:scale-110 duration-300" href="{{ rrss.discord }}" target="_blank">
      <img class="h-6 w-6" src="{{'/assets/images/contact_channels/discord.svg' | relative_url }}" alt="Discord Icon">
    </a>
    {% endif %}
    {% if rrss.mastodon != null and rrss.mastodon != "" %}
    <a class="transition hover:scale-110 duration-300" rel="me" href="{{ rrss.mastodon }}" target="_blank">
      <img class="h-6 w-6" src="{{'/assets/images/contact_channels/mastodon.svg' | relative_url }}" alt="Mastodon Icon">
    </a>
    {% endif %}
    {% if rrss.linkedin != null and rrss.linkedin != "" %}
    <a class="transition hover:scale-110 duration-300" rel="me" href="{{ rrss.linkedin }}" target="_blank">
      <img class="h-6 w-6" src="{{'/assets/images/contact_channels/linkedin.svg' | relative_url }}" alt="LinkedIn Icon">
    </a>
    {% endif %}
    {% if rrss.cv != null and rrss.cv != "" %}
    <a class="transition hover:scale-110 duration-300 underline" rel="me" href="{{ rrss.cv }}" target="_blank">
      <img class="h-6 w-6" src="{{'/assets/images/contact_channels/cv.svg' | relative_url }}" alt="CV Icon">
    </a>
    {% endif %}
  </div>